@keyframes cardVisible {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.actualItem,
.catalogItem {
    border-radius: 10px;
    max-width: 270px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    perspective: 1000px;
    animation: cardVisible 1.5s;
}

.innerCard {
    position: relative;
    transition: transform 0.2s ease-out;
    transform-style: preserve-3d;
    background-color: #10171F;
    border-radius: 10px;
}

.glare {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0.6;
    pointer-events: none;
}

.image {
    border-radius: 10px 10px 0 0;
}

.actualTitle,
.catalogTitle {
    max-width: 300px;
    margin-top: 6px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    text-transform: uppercase;
}

.actualPrice,
.catalogPrice {
    display: block;
    margin-right: 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.box {
    display: flex;
    padding: 0 10px 10px 10px;
}

.actualButton,
.catalogButton {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 1;
}

.catalogButton:hover,
.actualButton:hover {
    color: #D1C12B;
    text-decoration-color: #D1C12B;
    transform: scale(1.05) translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 900px) {
    .actualItem {
        max-width: 230px;
    }

    .actualPrice {
        font-size: 18px;
        line-height: 18px;
    }

    .actualButton {
        font-size: 18px;
        line-height: 18px;
    }

    .catalogTitle {
        font-size: 15px;
        line-height: 15px;
    }

    .catalogPrice {
        margin-right: 20px;
        font-size: 15px;
        line-height: 15px;
    }

    .catalogButton {
        font-size: 15px;
        line-height: 15px;
    }

    .catalogItem {
        max-width: 180px;
    }
}

@media (max-width: 600px) {
    .actualTitle {
        font-size: 15px;
        line-height: 15px;
    }

    .actualPrice {
        margin-right: 20px;
        font-size: 15px;
        line-height: 15px;
    }

    .actualButton {
        font-size: 15px;
        line-height: 15px;
    }

    .actualItem {
        max-width: 180px;
    }
}