.navigation {
    width: 100%;
}

.list {
    display: flex;
    align-items: center;
    gap: 46px;
}

.item {
    position: relative;
}

.count {
    position: absolute;
    content: '';
    top: -20px;
    right: -20px;
    width: 20px;
    text-align: center;
    font-size: 12px;
    padding-top: 3px;
    font-weight: 600;
    height: 20px;
    border-radius: 15px;
    background-color: #D1C12B;
}

.link {
    font-size: 20px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: color 0.3s ease-in-out;
}

.link:hover {
    color: #D1C12B;
}

@media (max-width: 1120px) {
    .list {
        gap: 20px;
    }
}

@media (max-width: 900px) {
    .list {
        justify-content: space-between;
        gap: 0;
    }
}